<body>
    <div class="container">
    <section class="landpage">
        <!-- <h1 class="title">Welcome to BabysitterFy</h1> -->
        <!-- <p class="text">the bla bla bla to help you find the best babysitter <button type="button" (click)="goToRegister()" class="btn btn-primary register">Get Started</button></p> -->
        
        <!-- <div class="container sing__in">
            <p>Already have an account? <button type="button" class="btn btn-primary sing__button">Sing in</button></p>
        </div> -->
        
        <div id="principal-container" class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img" src="https://images.pexels.com/photos/1007788/pexels-photo-1007788.jpeg?cs=srgb&dl=pexels-oleksandr-pidvalnyi-1007788.jpg&fm=jpg" alt="..."  height="350px"/></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">¡Welcome to BabysitterFy!</h1>
                    <p>The new place that cares about your childs, about you, and the security of your family!</p>
                    <p>Dont have and account?</p>
                    <a class="btn btn-primary" (click)="goToRegister()">Get Started!</a>
                    <p>Already have an account?</p>
                    <a class="btn btn-primary" (click)="goToLogin()">Login</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div id="central-card" class="my-5 py-1 text-center">
                <div class="card-body"><p class="text-white m-0">Remember always check the verify email, photo, and the phone number before hiring the babysitter.</p></div>
                <div class="card-body"><p class="text-white m-0">¡Here we have the top 3 babysitters of the month! They have exceeded our expectations and had the most elevate trust factor in the page!</p></div>
            </div>
            <!-- Content Row-->
            <div id="cards">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Elchi Nitolin Do</h2>
                            <img src="https://thumbs.dreamstime.com/b/retrato-del-mediados-de-hombre-adulto-sonriente-en-nanluoguxiang-pek%C3%ADn-china-31129067.jpg" alt="" height="150px" style="border-radius: 50px;">
                            <p class="card-text">您好，我是中國人，我喜歡照顧孩子並教育他們了解我的文化。</p>
                            <p class="card-text">Elchi Nitoli Do 已經在這個平台上工作了 5 個月</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Ana Pinta Paredes</h2>
                            <img src="https://img.freepik.com/foto-gratis/mujer-atractiva-joven-sonriendo-sintiendose-saludable-cabello-volando-viento_176420-37515.jpg?w=2000" alt="" height="150px" style="border-radius: 50px;">
                            <p class="card-text">Hello, I'm a Canadian girl and I love taking care of children and educating them about my culture.</p>
                            <p class="card-text">Ana Pinta Paredes has been working on the platform for 3 months</p>    
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Lionel Messi</h2>
                            <img src="https://media.canalnet.tv/2022/01/messi-feliz.jpg" alt="" height="150px" style="border-radius: 50px;">
                            <p class="card-text">Hola soy messi, juego al fulvo y gano copas america como caramelos, mi trabajo principal es ser babysitter</p>
                            <p class="card-text">Messi trabaja en relacion de dependencia y en la Argentina hace 10 meses</p> 
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-4 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        
    </section>
</div>
</body>
